### Hello World in Python

In [2]:
print("Hello, World!")

Hello, World!

### Python as calculator

In [14]:
# Addition, add two int together
1+1

2

In [15]:
# if one of the operands is a float, the result is a float.
130-2.0

128.0

In [16]:
# integer division
130/2

65.0

In [20]:
# integer division
131/2

65.5

In [17]:
# Multiplication
2*3

6

In [18]:
# Exponentiation ** 
# This operator raises the number to its left to the power of the number to its right 
2**3

8

In [19]:
# Modulo
# Returns the remainder of the division of the number to the left by the 
# number on its right. 
10%3

1

### Python indentations
Python uses indentation to indicate a block of code, while many languages like C/C++, Java uses {, } symbols.

In [7]:
if 5 > 2:
    print("Hello, World")
    print("Five is bigger than Two.")

Hello, World
Five is bigger than Two.

In [8]:
if 5 > 2:
print("Hello, World")
print("Five is bigger than Two.")

IndentationError: expected an indented block (<ipython-input-8-b49286cdc024>, line 2)

### Python variable types

지금부터 다양한 Python의 변수 type들을 배워보자.

기억할 점은, Python의 모든 변수(variable)은 클래스로 정의된 객체라는 점이다.

In [21]:
x = 5
y = 2.5
z = "John"
print(x)
print(x+y)
print(z)

5
7.5
John

### 1. Python Numbers

Python에는 세 가지 수치 타입이 있다.

- 정수형(integer)인 int.
- 소수형(floating number)인 float
- 복소수형(complex number)인 complex

In [10]:
x = 1 # int
y = 2.8 # float
z = 2 + 1j # complex

In [11]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

### 2.1 String

In [74]:
a = "Hello, World!"
print(type(a))
print(a[0], a[1], a[2], a[3], a[4])

<class 'str'>
H e l l o

In [36]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [35]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [37]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

### 2.2 List

In [30]:
thislist = [1, 2, 3]
print(thislist)
print(type(thislist))
print("index 0 :" , thislist[0], 
      "index 1 :" , thislist[1], 
      "index 2 :" , thislist[2])

[1, 2, 3]
<class 'list'>
index 0 : 1 index 1 : 2 index 2 : 3

In [29]:
thislist = ["apple", "banana", "cherry"]
print(thislist)
print(type(thislist))
print("index 0 :" , thislist[0], 
      "index 1 :" , thislist[1], 
      "index 2 :" , thislist[2])

['apple', 'banana', 'cherry']
<class 'list'>
index 0 : apple index 1 : banana index 2 : cherry

In [47]:
thislist = [1, "banana", [1, 2, 3, 4]]
print(thislist)
print(type(thislist))
print("index 0 :" , thislist[0], 
      "index 1 :" , thislist[1], 
      "index 2 :" , thislist[2])

[1, 'banana', [1, 2, 3, 4]]
<class 'list'>
index 0 : 1 index 1 : banana index 2 : [1, 2, 3, 4]

### 2.2.1 List slicing

In [53]:
# How to slice our lists?

thislist = [1, 2, 3, 4, 5 ,6, 7, 8, 9, 10]

# 3th ~ 6th elements ( new list will have 4 elements)
# correct answer : [3, 4, 5, 6]

newlist = thislist[2:6]
print(newlist)

[3, 4, 5, 6]

In [55]:
anotherlist = [3, 5, 7, 9, 11 ,13, 15, 17, 19]

# 4th ~ 8th elements ( new list will have 5 elements)
# correct answer : [9, 11, 13, 15, 17]

start = 
end = 
newlist = anotherlist[ start : end ]
print(newlist)

[9, 11, 13, 15, 17]

### 2.3 tuple

In [70]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)
print(type(thistuple))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [69]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

tuple은 list와 동일하게 element에 접근할 수 있다. 그러나 element의 변경을 허용하지 않도록 의도할 때 list 대신 사용한다.

In [71]:
thistuple = ("apple", "banana", "cherry")
thistuple[1] = "blackcurrant"
# The values will remain the same:
print(thistuple)

TypeError: 'tuple' object does not support item assignment

### 2.4 dictionary

Dictionary는 key와 value를 한 쌍으로 가지는 element들의 집합이다.

In [57]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
print(type(thisdict))

{'brand': 'Ford', 'year': 1964, 'model': 'Mustang'}
<class 'dict'>

In [67]:
x = thisdict["model"]
print('value :', x)

value : Mustang