# Hello World in Python

In [20]:
# 출력
print ("Hello, World!")

Hello, World!

# Python as calculator

In [14]:
# 덧셈
1 + 1

2

In [2]:
# 뺄셈
130 - 2.0

128.0

In [3]:
# 나눗셈
130 / 2

65.0

In [4]:
# 나눗셈
131 / 2

65.5

In [5]:
# 곱셈
2 * 3

6

In [7]:
# 거듭제곱
2 ** 3

8

In [11]:
# 나머지
10 % 3

1

# Python indentations
Python uses indentation to indicate a block of code, while many languages like C/C++, Java uses {, } symbols.

In [7]:
if 5 > 2:
    print("Hello, World")
    print("Five is bigger than Two.")

Hello, World
Five is bigger than Two.

In [8]:
if 5 > 2:
print("Hello, World")
print("Five is bigger than Two.")

IndentationError: expected an indented block (<ipython-input-8-b49286cdc024>, line 2)

# Python variable types

지금부터 다양한 Python의 변수 type들을 배워보자.

기억할 점은, Python의 모든 변수(variable)은 클래스로 정의된 객체라는 점이다.

In [21]:
x = 5
y = 2.5
z = "John"
print(x)
print(x+y)
print(z)

5
7.5
John

## 1. Python Numbers

Python에는 세 가지 수치 타입이 있다.

- 정수형(integer)인 int.
- 소수형(floating number)인 float
- 복소수형(complex number)인 complex

In [10]:
x = 1 # int
y = 2.8 # float
z = 2 + 1j # complex

In [11]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

## 2. String

In [74]:
a = "Hello, World!"
print(type(a))
print(a[0], a[1], a[2], a[3], a[4])

<class 'str'>
H e l l o

In [36]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [35]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [37]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [32]:
a = "Hello, Warld!"
a[8] = 'o' # I want to change 'a' to 'o' : impossible (String : immutable object)

TypeError: 'str' object does not support item assignment

## 3. List

In [30]:
thislist = [1, 2, 3]
print(thislist)
print(type(thislist))
print("index 0 :" , thislist[0], 
      "index 1 :" , thislist[1], 
      "index 2 :" , thislist[2])

[1, 2, 3]
<class 'list'>
index 0 : 1 index 1 : 2 index 2 : 3

In [29]:
thislist = ["apple", "banana", "cherry"]
print(thislist)
print(type(thislist))
print("index 0 :" , thislist[0], 
      "index 1 :" , thislist[1], 
      "index 2 :" , thislist[2])

['apple', 'banana', 'cherry']
<class 'list'>
index 0 : apple index 1 : banana index 2 : cherry

In [33]:
thislist = [1, "banana", [1]]
thislist[2] = [1,2,3,4]
print(thislist)
print(type(thislist))
print("index 0 :" , thislist[0], 
      "index 1 :" , thislist[1], 
      "index 2 :" , thislist[2])

[1, 'banana', [1, 2, 3, 4]]
<class 'list'>
index 0 : 1 index 1 : banana index 2 : [1, 2, 3, 4]

### 3-1. List slicing

In [53]:
# How to slice our list?

thislist = [1, 2, 3, 4, 5 ,6, 7, 8, 9, 10]

# 3th ~ 6th elements ( new list will have 4 elements)
# correct answer : [3, 4, 5, 6]

newlist = thislist[2:6]
print(newlist)

[3, 4, 5, 6]

In [55]:
anotherlist = [3, 5, 7, 9, 11 ,13, 15, 17, 19]

# 4th ~ 8th elements ( new list will have 5 elements)
# correct answer : [9, 11, 13, 15, 17]

start = 
end = 
newlist = anotherlist[ start : end ]
print(newlist)

[9, 11, 13, 15, 17]

## 4. tuple

In [70]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)
print(type(thistuple))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [69]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

tuple은 list와 동일하게 element에 접근할 수 있다. 그러나 element의 변경을 허용하지 않도록 의도할 때 list 대신 사용한다.

In [71]:
thistuple = ("apple", "banana", "cherry")
thistuple[1] = "blackcurrant"
# The values will remain the same:
print(thistuple)

TypeError: 'tuple' object does not support item assignment

## 5. dictionary

Dictionary는 key와 value를 한 쌍으로 가지는 element들의 집합이다.

In [57]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
print(type(thisdict))

{'brand': 'Ford', 'year': 1964, 'model': 'Mustang'}
<class 'dict'>

In [67]:
x = thisdict["model"]
print('value :', x)

value : Mustang

## 6. Set

중복을 허용하지 않고 순서가 없다. / 집합에 관련된 것들을 쉽게 처리하기 위해 만들어진 자료형

In [57]:
print ({1,1,2,3,3,4})
print ({'a',1,2,1,"a","b",True})

{1, 2, 3, 4}
{'a', True, 2, 'b'}

In [53]:
# from tuple
set((1,1,2,3,3,4))

{1, 2, 3, 4}

In [54]:
# from list
set([1,1,2,3,3,4])

{1, 2, 3, 4}

In [56]:
# from dictionary
set({'a':1, 'b':2, 'c':3})

{'a', 'b', 'c'}

In [60]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

print (s1.intersection(s2)) # s1 & s2
print (s1.union(s2)) # s1 | s2
print (s1.difference(s2)) # s1 - s2

{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}

### 6-1. Set VS List

In [101]:
import time 
l = list(range(1000000))
s = set(l)

start = time.time()
if 99999 in l:
    print ('list performance :', time.time() - start)

start = time.time()
if 99999 in s:
    print ('set performance :', time.time() - start)

list performance : 0.0013337135314941406
set performance : 5.4836273193359375e-05

## 7. Boolean

참(True)과 거짓(False)을 나타내는 자료형으로 무엇인가를 판단할 때 사용

In [102]:
print (type(True))
print (type(False))

<class 'bool'>
<class 'bool'>

# Control statement

비교 연산자 : 참/거짓을 판단하기 위해 사용되며 참일 경우 True, 거짓일 경우 False를 반환

In [103]:
print (True == 1)
print (False == 0)
print (True == False)
print (2 >= 0)
print (1 != 2)

True
True
False
True
True

논리 연산자 (and : 모두 참이여야 참 / or : 하나라도 참이면 참 / not : 반대)

In [105]:
print (True and True)
print (1==1 and 2==2)
print (True or False)
print (1==1 or 1==2)
print (not True)

True
True
True
True
False

## 1. Conditional statement 
조건에 따라 다른 Action을 실행

#### if 문 : 조건 검사 후 True 이면 실행

In [107]:
a = 10
b = 1

if a > b:
    print ('a is greater than b')

if a < b:
    print ('a is smaller than b')

a is greater than b

#### elif 문 : if 문이 false 이고, 다른 추가적인 조건을 줄 때 사용

In [108]:
a = 10
b = 10

if a > b:
    print ('a is greater than b')
elif a == b:
    print ('a is equal to b')

a is equal to b

#### else 문 : if 문과 elif 문 검사 후, 둘 다 false 일 때 실행

In [109]:
a = 1
b = 10

if a > b:
    print ('a is greater than b')
elif a == b:
    print ('a is equal to b')
else:
    print ('a is smaller than b')

a is smaller than b

In [110]:
name = "Damian"
age = 22

if age < 10:
    pass
elif name == 'Damian' and age < 20:
    print("Damian is a teenager")
elif age > 30:
    print("Damian is an uncle")
else: 
    print("Damian is awesome!!!")

Damian is awesome!!!

#### in 연산자 : 순환가능한 객체 내에 특정 element가 존재하는지 확인

In [111]:
"apple" in ["apple", "banana", "cherry"]

True

In [112]:
"apple" in ["APPLE", "banana", "cherry"]

False

#### is 연산자 : 같은 객체인지 확인  /  == : 값들이 같은지 확인

In [113]:
x = [1,2,3]
y = [1,2,3]

print (x == y)
print (x is y)
print ("x id :", id(x))
print ("y id :", id(y))

True
False
x id : 140603990772424
y id : 140603990806472

## 2. Looping statement
반복하여 Action을 실행

#### for 문 : 순환가능한 객체에 차례로 접근

In [114]:
for i in 'cat':
    print (i)

c
a
t

In [115]:
for i in [1,2,3]:
    print (i)

1
2
3

In [116]:
for i in (10,20,30):
    print (i)

10
20
30

In [117]:
for i in {'name':'Damian', 'age':22}:
    print (i)

name
age

In [118]:
for x in range(10): # 순차적으로 증가/감소하는 숫자 생성
    print(x)

0
1
2
3
4
5
6
7
8
9

In [119]:
import sys

print ('memory for range(10) : ' , sys.getsizeof(range(10)))
print ('memory for range(100) : ' , sys.getsizeof(range(100)))
print ('memory for list(10) : ', sys.getsizeof(list(range(10))))
print ('memory for list(100) : ', sys.getsizeof(list(range(100))))

memory for range(10) :  48
memory for range(100) :  48
memory for list(10) :  200
memory for list(100) :  1008

#### while 문 : 조건문이 참인 동안 실행

In [120]:
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

#### break 문 : 가장 내부의 반복문 빠져나감
#### continue 문 : 다음 순환을 실행
#### else : break 만나지 않고 정상적으로 반복문이 종료되었을때 실행

In [121]:
for i in range(1,11):
    if i > 5 :
        break 
    print (i)
else : 
    print ("Exit without break")

1
2
3
4
5

In [122]:
for i in range(1,11):
    if i % 2 == 0 :
        continue 
    print (i)
else : 
    print ("Exit without break")

1
3
5
7
9
Exit without break

# Module
함수, 변수, 클래스 들을 모아 놓은 파일 (.py)

## 1. sys module

In [123]:
import sys
sys.path # 파이썬 모듈들이 저장된 위치

['',
 '/home/dongsu/anaconda3/lib/python35.zip',
 '/home/dongsu/anaconda3/lib/python3.5',
 '/home/dongsu/anaconda3/lib/python3.5/plat-linux',
 '/home/dongsu/anaconda3/lib/python3.5/lib-dynload',
 '/home/dongsu/anaconda3/lib/python3.5/site-packages',
 '/home/dongsu/anaconda3/lib/python3.5/site-packages/Sphinx-1.4.6-py3.5.egg',
 '/home/dongsu/anaconda3/lib/python3.5/site-packages/setuptools-27.2.0-py3.5.egg',
 '/home/dongsu/anaconda3/lib/python3.5/site-packages/IPython/extensions',
 '/home/dongsu/.ipython']

sys.path.append("내가 만든 모듈이 있는 디렉토리") : 디렉토리 추가

## 2. os module

In [124]:
import os
os.getcwd() # 현재 디렉토리 확인

'/home/dongsu/education/Python_basic'

os.environ : 시스템 환경 변수 확인
 
os.listdir("특정 디렉토리") : 특정 디렉토리에 있는 모든 파일

os.path.dirname(os.path.abspath(__file__)) : 해당 파일이 존재하는 디렉토리

## 3. time module

In [125]:
import time
time.strftime('%c', time.localtime(time.time()))

'Tue Oct 30 15:29:58 2018'

# Function
함수(Function)은 호출됐을 때만 실행되는 code block을 말한다. 우리는 function에 적절한 input을 주어 결과로서 처리된 output을 얻을 수 있다.

In [126]:
# Creating a Function
def my_function():
    print("Hello, this is my first function")

In [127]:
# Calling a Function
my_function()

Hello, this is my first function

In [128]:
# function은 input을 받아 output을 return한다.
def my_function(x):
    return x*2

print(my_function(2))
print(my_function(4))
print(my_function(7))

4
8
14

In [129]:
# function을 통해 input에 따른 더 복잡한 형태의 처리도 가능하다.
def my_function(x):
    if x < 3:
        output = x*2
    elif x < 5:
        output = x*3
    else:
        output = x*4
    return output

print(my_function(2))
print(my_function(4))
print(my_function(7))

4
12
28